{% extends 'shop/basic.html' %}

{% block title%}sweettooth | About Us{% endblock %}
{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-color:#50F6E6;">
    <div class="container">
 
      <h1 class="display-3"><b>sweettooth!</b></h1>
      <p style="font-size:24px;"><b>sweettooth</b> is an online ice-creams and sweets shopping website that brings you happiness and joy along with mouth-watering desserts, ice-creams,
      ice-cream cakes and much more!
      
      <p style="font-size:24px;">We offer you a huge variety of appetizing flavours from the top-notch brands!</p>

      <p style="font-size:24px;">We guarantee you the best quality and the brilliant taste of India!</p>

      <p style="font-size:24px;">Currently, we only serve in <b>Delhi, Mumbai, Pune, Chandigarh and Kolkata</b> but if you keep on supporting us by giving us an opportunity to
      serve you, we assure you that one day we will be the biggest hub for ice-creams and sweets all over the India!</p>

      <h3><a href="/shop" style="text-decoration: none; color:#000000">What are you waiting for? Go and grab your favorite flavour!</a>
      <a class="btn btn-primary btn-lg mt-0" style="background-color:#50F6E6; border:0px; color:#000000; font-size: 50px;" href="/shop" role="button"> &raquo;</a></h3>
      
      
    </div>
  </div>
</main>


{% endblock %}