{% extends 'shop/basic.html' %}

{% block title%}sweettooth | Sign Up{% endblock %}

{% block css %} 
.container{
    padding-top:50px;
    max-width:700px;
}

.required:after {
    content:" *";
    color: red;
    font-size: 20px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
{% endblock %}

{% block body %}

<div class="container py-3">
    <h3 class="text-center">Sign-up Form</h3><br>
    <form action="/shop/signup/" method="post">{% csrf_token %}

    <h4 class="mb-3">Personal Details</h4>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="required" for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First name" required>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label class="required" for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last name" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="required" for="name">Email</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label class="required" for="phone">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone" required>
            </div>
        </div>
    </div>

    <h4 class="mb-3 mt-5">Billing address</h4>

    <div class="form-group">
        <label class="required" for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" required>
    </div>

    <div class="row">
        <div class="col">
            <label for="state" class="form-label required">State</label><br>
            <select class="form-select px-4" style="height:35px; border-color:#D3D3D3" id="state" name="state" required>
                <option value="Delhi" selected>Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Kolkata">Kolkata</option>
            </select>
        </div>

        <div class="col">
            <label for="zip" class="required">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" placeholder="Enter Zip Code" required>
        </div>
    </div>

    <h4 class="mb-3 mt-5">Set Password</h4>

    <div class="row">
        <div class="col">
            <label for="password" class="required">Create Password</label>
            <input type="password" class="form-control" id="password" name="password1" placeholder="Create password" required>
        </div>

        <div class="col">
            <label for="password" class="required">Confirm Password</label>
            <input type="password" class="form-control" id="password" name="password2" placeholder="Confirm password" required>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <button type="submit" class="w-100 btn btn-primary">Sign Up</button>
        </div>
        <div class="col">
            <button type="reset" class="w-100 btn btn-danger">Reset</button>
        </div>
    </div>

    <br><br>
</form>
</div>
{% endblock %}

{% block js%}
<script>
{% if thank %}
//alert('Thanks for contacting us. We will get back to you soon!');
//document.location = "/shop/contact";
{% endif %}
</script>
{% endblock %}