{% extends 'shop/basic.html' %}

{% block title%}sweettooth | Sign Out{% endblock %}

{% block css %} 
      .jumbotron {
        border: 0px outset black;
        background-color: #ffffff;
        text-align: center;
        height: 600px;
      }
{% endblock%}

{% block body %}

<script>
document.getElementById('cart_pop').innerHTML = '';

function delete_cookie(){
    document.cookie = "userName=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    localStorage.clear();
} 
</script>

<div class="jumbotron text-center">
  <h1 class="display-4 my-5"><b>We are sad to see you leave! :(</b></h1>
  
  <hr class="my-4">
  
  <p style="font-size:24px;">Do you really want to sign out?</p>
 
  <a href="/shop"><button class="btn btn-primary btn-lg mx-5 my-4">No, I want to buy more!</button></a>
  <a href="/shop"><button class="btn btn-primary btn-lg my-4" onclick="delete_cookie()">Yes, I have had enough sweets today!</button></a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{%endblock%}
