{% extends 'shop/basic.html' %}

{% block title%}sweettooth | Login{% endblock %}

{% block css %} 
.container{
    padding:100px;
    padding-top:50px;
    max-width:500px;
}
.required:after {
    content:" *";
    color: red;
    font-size: 20px;
  }
{% endblock %}

{% block body %}

<div class="container my-10">
    <h3 class="text-center">Sign-in Form</h3><br>
    <form action="/shop/signin/" method="post">{% csrf_token %}
    <div class="form-group">
        <label class="required" for="name">Email</label>
        <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required>
    </div>

    <div class="form-group">
        <label class="required" for="password">Password</label>
        <input type="password" class="form-control" id="password" name='password' placeholder="Enter password">
    </div>
    <br>

    <button type="submit" class="w-100 btn btn-success">Login</button>
    <a href="/shop/signup/" class="w-100 btn btn-warning mt-3">Create a sweettooth account</a>

</form>
</div>
{% endblock %}

{% block js%}
<script>
document.getElementById('cart_pop').innerHTML = '';

</script>
{% endblock %}