<!doctype html>
<html lang="en">
  <head>
    <title>sweettooth | Sign-in</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="manifest" href="https://getbootstrap.com/docs/5.1/assets/img/favicons/manifest.json">

    <meta name="theme-color" content="#7952b3">


    <style>

    .required:after {
        content:" *";
        color: red;
        font-size: 20px;
    }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">


</head>


<body>
<div>
{% if messages %}
<script>
alert('Please enter correct email and password!');
</script>
{% endif %}
</div>

<div class="container text-center">
<main class="form-signin">
  <form method="POST" action="/shop/login/">
  {% csrf_token %}
    <img class="mb-4" src="\media\shop\images\img_avatar2.png" alt="" width="72" height="65">
    <h1 class="h3 mb-3 fw-normal">Please Sign-in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    <a href="/shop/signup" class="w-100 btn btn-lg btn-primary my-2">Sign Up</a>
    <p class="mb-1 mt-5">&copy; 2021 sweettooth</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/shop/">Home</a></li>
    </ul>
  </form>
</main>
</div>

</body>
</html>
